@import "elements.css";

* {
  box-sizing: border-box;
}

:root {
  --bg-page: rgb(30, 30, 30);
  --color: rgb(250, 250, 250);
  --readonlyColor: rgb(150, 150, 150);
  --bg-main: rgb(40, 40, 40);
  --border-color: rgb(80, 80, 80);
  --header-height: 80px;
  --control-height: 30px;
  --bg-input: rgb(50, 50, 50);
  --bg-button: rgb(60, 60, 60);
  --bg-button-hover: rgb(70, 70, 70);
  --lnk-color: rgb(220, 220, 255);
  --lnk-color-hover: rgb(250, 250, 255);
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--bg-page);
  color: var(--color);
  justify-content: center;
  height: calc(100vh - var(--header-height));
}

header,
main {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 100%;
  width: calc(100vw * .8);
  min-width: 400px;
  max-width: 1280px;
  margin: 2px 5px;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--header-height);

  h1 {
    margin: 2px;
  }
}

main {
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  div {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

}

input,
button {
  color: var(--color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: var(--control-height);
}

form div:has(label) {
  label {
    margin-left: 5px;
    margin-bottom: 2px;
  }

  input[type="text"] {
    background-color: var(--bg-input);
  }

  input[readonly] {
    color: var(--readonlyColor);
  }
}

form div:has(button) {
  justify-content: end;

  button {
    height: var(--control-height);
  }


}

button {
  background-color: var(--bg-button);
}

button:hover {
  background-color: var(--bg-button-hover);
  cursor: pointer;
}



table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 25px;

  th {
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
    height: 30px;
    width: 25%;
    margin: 0;
    background-color: var(--bg-button);
  }

  th:first-child {
    border-top-left-radius: 5px;
  }

  th:last-child {
    border-top-right-radius: 5px;
  }

  td {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    height: 40px;

  }

  tr:hover:not(:has(th)) {
    background-color: var(--bg-button-hover);
    cursor: pointer;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 10;

  background-color: rgba(0, 0, 0, .8);

  margin: 0;
  padding: 0;

  cursor: default;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */